<div id="migration" class="jumbotron jumbotron-fluid title">
  <div class="container">
    <h1>Migration guide</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 pull-md-3">

      <h2>6.0.0 is out!!!</h2>
      <br><hr>

      <h3>Step 1 - switch to @ks89/angular-modal-gallery</h3>

      <p>The first thing to do is to uninstall <code>angular-modal-gallery</code> and install the new package <b><code>@ks89/angular-modal-gallery</code></b></p>
      <p>So, in your terminal run:</p>
      <ol>
        <li><code>npm uninstall angular-modal-gallery</code></li>
        <li><code>npm install --save @ks89/angular-modal-gallery</code></li>
      </ol>

      <br>
      <h3>Step 2 - remove deprecated APIs</h3>

      <p>Now you have the right dependency, however you still need to change all imports. Luckily it is really simple, because you can search for all
        occurrences of <code>from 'angular-modal-gallery'</code> in your project and replace them with <code>from '@ks89/angular-modal-gallery'</code></p>

      <p>Next, search for all occurrences of <code>&lt;ks-modal-gallery&gt;</code> in your html files and add a new input called <code>[id]="0"</code>. You must use
      a unique value for every instance in the same component. Obviously, if you are using only one gallery at a time, you can always use "0". However, if you
      have multiple <code>&lt;ks-modal-gallery&gt;</code> occurrences in a single template, you have to increase the id to prevent issues.</p>

      <p>Finally, search for all <code>[downloadable]</code>, <code>[loadingConfig]</code> and <code>[description]</code> texts inside your templates, because
      you have to remove these inputs and place them inside a new one called <code>[currentInputConfig]</code> in this way:</p>

      <pre>
    [currentInputConfig]="&#123;
      downloadable: PUT HERE YOUR OLDER BOOLEAN VALUE OF DOWNLOADABLE,
      loadingConfig: &#123; PUT HERE YOUR OLDER LOADINGCONFIG OBJECT'S PROPERTIES &#125;,
      description: &#123; PUT HERE YOUR OLDER DESCRIPTION OBJECT'S PROPERTIES &#125;
    &#125;"
      </pre>

      <p>Obviously, if you hadn't use one or all of those properties, simply ignore them. In fact, they are all optional, like in version 5.0.0.
      The only difference is that all inputs are moved inside a wrapper object called <code>currentInputConfig</code>.</p>

      <br>
      <h3>(optional) Step 3 - restore older description bottom margin</h3>

      <p>If you don't like the new bottom margin of the modal image description, you can restore the older adding this:</p>

      <pre>
    [currentImageConfig]="&#123;
      description: &#123;
        strategy: DescriptionStrategy.ALWAYS_VISIBLE,
        style: &#123; marginBottom: '0px' &#125;
      &#125;
    &#125;"
      </pre>

      <b>That's all!!!</b>

      <br><br>

      <h3>(optional) Step 4 - Only for SystemJS users</h3>
      <p>You have to update your config file from:</p>
      <pre>
    let map = &#123;
      hammerjs: 'node_modules/hammerjs',
      mousetrap: 'node_modules/mousetrap',
      'angular-modal-gallery': 'node_modules/angular-modal-gallery/bundles'
    &#125;;
    let packages = &#123;
      hammerjs: &#123; main: 'hammer.js' &#125;,
      mousetrap: &#123; main: 'mousetrap.js' &#125;,
      'angular-modal-gallery': &#123; main: 'angular-modal-gallery.umd.js' &#125;
    &#125;;
      </pre>
      <p>to:</p>
      <pre>
    let map = &#123;
      hammerjs: 'node_modules/hammerjs',
      mousetrap: 'node_modules/mousetrap',
      '@ks89': 'node_modules/@ks89'
    &#125;;
    let packages = &#123;
      hammerjs: &#123; main: 'hammer.js' &#125;,
      mousetrap: &#123; main: 'mousetrap.js' &#125;,
      '@ks89/angular-modal-gallery': &#123; main: 'bundles/ks89-angular-modal-gallery.umd.min.js', defaultExtension: 'js' &#125;
    &#125;;
      </pre>

      <p>Also, you have to change the way you import <code>ModalGalleryModule</code> with forRoot from:</p>
      <pre>
        ModalGalleryModule.forRoot()
      </pre>
      <p>to:</p>
      <pre>
        ModalGalleryModule.forRoot(&#123; shortcuts: ['ctrl+s', 'meta+s'], disableSsrWorkaround: true &#125;)
      </pre>

      <p>All SystemJS users must use <code>disableSsrWorkaround: true</code> to prevent errors at runtime.</p>

      <h4>Addition info</h4>
      <p>If you are using <code>ModalGalleryModule.forRoot()</code> inside a child module, you should use simply <code>ModalGalleryModule</code> (without forRoot()).
        In fact, forRoot() should be used only for root modules. But, <b>if your module is lazy loaded, forRoot() is still mandatory.</b>
        If you are confused and you need help, please open an issue :)</p>
    </div>
    <div class="col-12 col-md-3 push-md-9">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>





